body{
    background-image: url(background.jpeg);
    background-size: cover;
}
.navbar_singup{

    height: 56px;
    width: 100%;
    background-color: rgb(65, 64, 64);
    color: rgb(73, 144, 1);
    font-size: 20px;
    text-decoration: solid;
    padding-bottom: 20px;
    margin: 0%;
    text-align: center;
    position: fixed;
    top: 0;
}


.hading{
    
    color: rgb(70, 136, 4);
}
ul{
    text-align: center;
}
.signup-container{
    
    border: 2px solid black;
    width: 475px;
    height: 635px;
    margin-inline: 400px;
    margin-top: 150px;
    padding-left: 0;
    border-radius: 10px;
    text-align: center;
    
}
.continue{
    background-color: rgb(66, 131, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 35px ;
    margin-top: 15px;
    width: 320px;
    border-radius: 10px;
    font-size: 15px;
}
.usernam{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 80%;
    height: 25px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 10%;
    margin-top: 0%;
}
.continue1{
    background-color: rgb(19, 1, 152);
    color: rgb(255, 254, 254);
    padding: 10px;
    margin: 35px ;
    margin-top: 15px;
    margin-bottom: 0;
    width: 320px;
    border-radius: 10px;
    font-size: 15px;
}
.continue2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 35px ;
    margin-top: 15px;
    width: 320px;
    border-radius: 10px;
    font-size: 15px;
}
.singup{
    background-color: rgb(255, 255, 255);
    color: rgb(70, 137, 2);
    padding: 10px;
    margin: 35px ;
    margin-top: 15px;
    width: 220px;
    border-radius: 10px;
    border-color: rgb(70, 137, 2);
    font-size: 15px;
}
.label_name{
    margin-bottom: 0%;
    padding-bottom: 0%;
    color: white;
}
.checkbox_1{
    width: 90%;
    height: 25px;
    display: inline-flex;
    margin-left: 5%;
    margin-bottom: 30px;
}